.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
  }

  .login img {
    margin: 30px auto;
    object-fit: contain;
    width: 100px;
    height: 100px;
  }
.login_Container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
    .login_Container h1 {
        text-align: center;
        font-size: 25px;
        margin: 20px 0;
    }
    .login_Container form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .login_Container form div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
    }
    .login_Container form input {
        margin-bottom: 10px;
        padding: 8px 16px;
        background-color: #fff;
        width: 100%;
        border: none;
        border-radius: 3px;
        border: 1px solid gray;
        height: 30px;
        font-size: 16px;
    }
    .login_Container form input:focus {
        outline: none;
        border: 2px solid skyblue;
        box-shadow: 0 0 5px rgba(0, 191, 255, 0.5);
    }
    .login_Container .logInButton{
        border: none;
        background: #0ada1b;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        cursor: pointer;
        color: white;
    }
    .login_Container .logInButton{
        border: none;
        background: #0ada1b;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        cursor: pointer;
        color: white;
    }
    .logInButton{
        border: none;
        background: #6bac70;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        cursor: pointer;
        color: white;
    }
    
    .login_Container .logInButton:hover {
        background: var(--primary-shade);
    }
    .login_Container .login_register {
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        cursor: pointer;
        background: #e7e7e7;
        color: black;
    }
    .login_Container .login_register:hover {
        background: lightgray;
    }
    .login_Container p {
        font-size: 14px;
        color: gray;
        /* margin: 5px 0; */
        padding: 10px 0;
    }
    .error{
        color: red;
        font-size: 14px;
        margin: 5px 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .passwordField {
        position: relative;
    }
    .passwordToggleIcon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: gray;
    }
    .passwordToggleIcon:hover {
        color: black;
    }


