.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.container  img {
  width: 100px !important;
}

.container  div :not(.subtotal) {
  height: auto !important;
}
.cart_product{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.btn_container{
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 5px 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.btn:hover svg{
  background-color: var(--primary-color);
}


.cart_container {
    padding: 20px;
  }
  
  .cart_container h2,
  .cart_container h3 {
    padding: 10px;
  }
  
  .cart_container hr {
    margin: 10px;
  }
  
  .subtotal {
    padding: 20px;
    min-width: 300px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(242, 241, 241);
    border-radius: 5px;
  }
  
  .subtotal a {
    text-align: center;
    width: 100%;
    border: none;
    background-color: #d49644;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
  }
  
  .subtotal a:hover {
    background: var(--primary-shade);
  }
  
  .subtotal > div, 
  .subtotal span {
    display: flex;
    gap: 20px;
  }
  .checkbox {
    width: 14px;
    height: 14px;
    margin-right: 8px;
    accent-color: #50a7b7; /* Optional: gives it a color like Amazon */
    vertical-align: middle;
  }
  

  @media screen and (max-width: 968px) {
    .container {
        flex-direction: column;
    order: 1;}
  }