.category {
  width: 90%;
  height: 350px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.category:hover {
  transform: scale(1.05);
}
.category:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);  
}
.category a:hover {
  text-decoration: underline;
}

.category img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  padding: 0px 10px;
}
.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
  text-align: center;
}
.category h2 {
  font-size: 18px;
  font-weight: bold;
}

.category p {
  font-size: 15px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}
.category p:hover {
  text-decoration: underline;
}
.category p:hover {
  color: rgb(6, 90, 142); 
}
.category p:active {
  color: rgb(3, 60, 94);
}
.category img:hover {
  transform: scale(1.05);
}
.category_container {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  );
  max-width: 1600px;
  gap: 10px;
  margin-right: auto;
  margin-left: auto;
  place-items: center;
  /* margin-bottom: 20px; */
}
